.btn.outlined {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
}
.btn.primary{
   color: #FE2C55;
    border-radius: 4px;
}
.btn.outlined:hover{
background-color: #FAFAFA;
}
.btn.primary:hover{
    background-color: #F02A51;
}
.btn.text:hover{
   background-color: #F1F1F2;
}
.btn.outlined.primary{
    background-color: #FFFFFF;
    border: 1px solid #FE2C55;
}
.side-bar__btn.btn.outlined.primary:hover{
    color: #FE2C55;
    background-color: #FFF4F5;
    border: 1px solid #FE2C55;
}
.upper{
    text-transform: uppercase;
}